body {
  background-color: rgb(90, 90, 90);
  color: rgb(250, 245, 245);
}

section {
  width: 60%;

  background-color: cadetblue;
  margin: 50px auto;
  text-align: center;
}

section h1 {
  font-size: 30px;
  padding: 15px;
  font-family: cursive;
}

section button {
  padding: 10px;
  margin: 15px 0;

  border-radius: 5px;
  /* border: none; */
  font-size: 16px;
}
section button:hover {
  background-color: rgb(1, 100, 1);
  color: white;

  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}
